demo/target/classes/demo/Main.class
demo/target/classes/demo/Task1/Gender.class
demo/target/classes/demo/Task1/Human.class
demo/target/classes/demo/Task1/Human$HumanBuilder.class
demo/target/classes/demo/Task1/Human$HumanBuilderImpl.class
demo/target/classes/demo/Task1/Student$StudentBuilderImpl.class
demo/target/classes/demo/Task1/User.class
demo/target/classes/demo/Task2/MailInfo.class
demo/target/classes/demo/Task1/User$UserBuilder.class
demo/target/classes/demo/Task2/MailSender.class
demo/target/classes/demo/Task2/Client.class
demo/target/classes/demo/Task2/mailcode/BirthdayCode.class
demo/target/classes/demo/Task2/MailSender$1.class
demo/target/classes/demo/Task2/mailcode/MailCode.class
demo/target/classes/demo/Task1/Student$StudentBuilder.class
demo/target/classes/demo/Task1/Student.class
demo/target/classes/demo/Task3/MyImage.class
demo/target/classes/demo/Task3/RealImage.class
demo/src/main/java/demo/Main.java
